name: Deploy Backend

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build JAR
        run: mvn clean install
        working-directory: ./

      - name: Deploy to Server
        run: cp target/app-1.0.jar /opt/backend-app/app-1.0.jar
